name: "Android CI"

on:
  pull_request:
    types: [opened, synchronize, edited]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      -
        uses: actions/checkout@v2
      -
        name: "Fetching Materials"
        uses: actions/setup-java@v1
        with:
          java-version: 11
      -
        name: Construction
        run: |
            git clone -b master --single-branch https://github.com/stormbreaker-project/StormCI.git Build
            cd Build
            ./gradlew build
